nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  display: block;
  padding: 10px;
  color: white;
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #ddd;
    color: #000;
  }

  iframe {
    border: none;
    padding: none;
  }

  body 
  {
    border: none;
    
  }
